[Desktop Entry]
Type=Application
Name=Notata
Comment=Metadata manager for music, movies, series, comics, and books
Exec=notata
Icon=fr.nytuo.notata
Terminal=false
Categories=AudioVideo;Audio;Video;Office;
StartupWMClass=Notata
